.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    .card-img-top {
        width: 100%;
        height: auto;
    }
    .card-body {
        text-align: center;
        .price {
            font-weight: bold;
            color: green;
        }
    }
}
